<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar">
    
    <ros2_control name="FourboxSystem" type="system">
        <hardware>
        <plugin>dasrobot_drive_controller/DasrobotDriveController</plugin>
        <!-- <plugin>fourbox_hardware/FourboxHardware</plugin> -->
        <param name="encoder_ppr">$(arg encoder_ppr_arg)</param>
        <param name="baudrate">$(arg baudrate_arg)</param>
        <param name="serial_port_name">$(arg serial_port_name_arg)</param>

        <param name="wheel_count">"${wheel_count}"</param>
        <param name="wheel_radius">"${wheel_radius}"</param>
        <param name="wheel_separation_x">"${wheel_separation_x}"</param>
        <param name="wheel_separation_y">"${wheel_separation_y}"</param>
        </hardware>
        
        <joint name="base_front_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        </joint>
        <joint name="base_front_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        </joint>
        <joint name="base_rear_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        </joint>
        <joint name="base_rear_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        </joint>
    </ros2_control>
    
</robot>
